<tr>
  <td><%= rent_entry.display_date(rent_entry.from_date) %></td>
  <td><%= rent_entry.display_date(rent_entry.to_date) %></td>
  <td><%= rent_entry.rent %></td>
  <td><%= rent_entry.payment %></td>
</tr>