$('#new-rent-entry-inline-form').remove();
$('#new-rent-entry a').show();
$('#rent-entry-table-body').prepend("<div class='divTableRow' id='<% dom_id(@rent_entry) %>'><%= j render @rent_entry %></div>");